.App {
  text-align: center;
}
.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.player-container {
  flex: 1;
  text-align: center;
}

.matches-container {
  flex: 1;
  text-align: center;
}